@using HappyMeal_v3.Services
@model HappyMeal_v3.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Happy Meal</title>
    <link rel="shortcut icon" href="~/40_85221.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <body>
        <div class="container body-content">
            @Html.Partial("_Header", Model.HeaderData)
            @RenderBody()
            @Html.Partial("_Order")
        </div>

        <script type="text/javascript">
            var baseUrl = "@(ConfigurationService.GetValue("baseUrl") ?? "")";
        </script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
