@using System.Globalization
@using HappyMeal_v3.ViewModels
@using HappyMeal_v3.Services
@model BaseViewModel

@{
    var dayOfWeek = DateTime.Now.ToString("dddd", new CultureInfo("fr-FR"));
    var day = DateTime.Now.Day;
    var month = DateTime.Now.ToString("MMMM", new CultureInfo("fr-FR"));
    var year = DateTime.Now.Year;
}

<div class="row">
	<div class="col-md-12" id="header">
		<div class="row">
			<div class="col-md-3 col-sm-3">
                <div id="fete">
                    <span id="today">Fêtes du jour</span>
                    <span id="name">@Model.HeaderData.TodayFete</span>
                </div>
				@*<div id="hours">
                    <span id="hour">11h38</span>
                    <span id="stdDev">+/- 16 minutes</span>
                    <div id="stats">
                        <span id="min">Min. : 11h06</span> <span id="max">Max. : 11h56</span>
                    </div>
                </div>*@
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<span id="title">Menu du jour<span id="version">v@(ConfigurationService.GetValue("version"))</span></span>
			    <span id="date">@char.ToUpper(dayOfWeek[0])@dayOfWeek.Substring(1) @day @char.ToUpper(month[0])@month.Substring(1) @year</span>
			</div>
			<div class="col-md-3 col-sm-3 price-bar">
                <div id="price">
                    <span id="value">0</span><span id="unit">€</span>
                    @if (Model.User == null)
                    {
                        <button id="btn-connection" >Connexion</button>
                        <button id="btn-registration" >Inscription</button>
                    }
                    else
                    {
                        <span id="hello">Salut @Model.User.Pseudo ! </span>
                    }
                </div>
			</div>
                <div class="row">
                    <div class="col-md-12" id="connection"></div>
                    <div class="col-md-12" id="registration"></div>
                </div>
		</div> 
	</div>
</div>